	<!DOCTYPE html>
		<html lang="en">
		<head>
		<meta charset="UTF-8">
		<title>NBA Player data</title>
		</head>
		<body>
        <ul>
            <li>{{.FirstName}} - {{.LastName}} - {{.Age}}</li>
        </ul>
		</body>
		</html>