<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Mamba Mindset</title>
</head>
<body>

<h1>Kobe Pictures:</h1>
<img src="/resources/pictures/KobeMindset2.jpeg">
<img src="/resources/pictures/KobeMindset3.jpeg">
<img src="/resources/pictures/KobeMindset4.jpeg">

</body>
</html>