<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Mamba</title>
</head>
    <body>
        <h1>Blsck Mamba Mindset</h1>
        <img src="/KobeMindset1.jpg" alt="Kobe Mindset">
    </body>
</html>