<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square and Square Root</title>
</head>
<body>
<h1>Value: {{.Value}}</h1>
<h1>Calculate the Double: {{.Double}}</h1>
<h1>Calculate the Square Root: {{.SquareRoot}}</h1>
<h1>Calculate the Square : {{.Square}}</h1>

</body>
</html>
